In [1]:
# Import the dependencies.
import pandas as pd
import gmaps
import requests
# Import the API key.
from config import g_key

In [2]:
# Store the CSV you saved created in part one into a DataFrame.
city_data_df = pd.read_csv("weather_data/cities.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
0,0,Najran,SA,2022-02-02 23:44:32,17.4924,44.1277,56.05,43,8,2.59
1,1,Jamestown,US,2022-02-02 23:37:15,42.0970,-79.2353,40.32,67,100,1.99
2,2,Severo-Kurilsk,RU,2022-02-02 23:44:32,50.6789,156.1250,30.13,76,98,9.22
3,3,Rikitea,PF,2022-02-02 23:43:27,-23.1203,-134.9692,78.69,73,100,8.05
4,4,Pueblo,US,2022-02-02 23:39:40,38.2545,-104.6091,18.01,81,100,1.01

In [3]:
city_data_df.dtypes

City_ID         int64
City           object
Country        object
Date           object
Lat           float64
Lng           float64
Max Temp      float64
Humidity        int64
Cloudiness      int64
Wind Speed    float64
dtype: object

In [4]:
# Configure gmaps to use your Google API key.
gmaps.configure(api_key=g_key)

In [5]:
# Heatmap of temperature
# Get the latitude and longitude.
locations = city_data_df[["Lat", "Lng"]]
# Get the maximum temperature.
max_temp = city_data_df["Max Temp"]
temps = []
for temp in max_temp:
    temps.append(max(temp, 0))
# Assign the figure variable.
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# Assign the heatmap variable.
heat_layer = gmaps.heatmap_layer(locations, weights=[max(temp, 0) for temp in max_temp], dissipating=False, max_intensity=300, point_radius=4)
# Add the heatmap layer.
fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [6]:
# Heatmap of percent humidity
locations = city_data_df[["Lat", "Lng"]]
humidity = city_data_df["Humidity"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=humidity, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [7]:
# Heatmap of percent cloudiness
locations = city_data_df[["Lat", "Lng"]]
clouds = city_data_df["Cloudiness"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=clouds, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# Heatmap of wind speed
locations = city_data_df[["Lat", "Lng"]]
wind = city_data_df["Wind Speed"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=wind, dissipating=False, max_intensity=300, point_radius=4)

fig.add_layer(heat_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [9]:
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 75
What is the maximum temperature you would like for your trip? 90

In [10]:
# Filter the dataset to find the cities that fit the criteria.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed
3,3,Rikitea,PF,2022-02-02 23:43:27,-23.1203,-134.9692,78.69,73,100,8.05
7,7,Karratha,AU,2022-02-02 23:44:34,-20.7377,116.8463,83.97,65,54,2.73
15,15,Grand Gaube,MU,2022-02-02 23:44:37,-20.0064,57.6608,81.00,89,100,20.00
18,18,Kununurra,AU,2022-02-02 23:44:38,-15.7667,128.7333,80.58,78,100,5.75
19,19,Saint-Philippe,RE,2022-02-02 23:44:38,-21.3585,55.7679,80.19,96,100,33.89
20,20,Carnarvon,AU,2022-02-02 23:44:39,-24.8667,113.6333,78.87,89,61,11.50
21,21,Nanakuli,US,2022-02-02 23:44:39,21.3906,-158.1547,80.55,57,75,0.00
28,28,Kapaa,US,2022-02-02 23:44:42,22.0752,-159.3190,81.12,66,0,3.00
29,29,Isangel,VU,2022-02-02 23:44:42,-19.5500,169.2667,86.11,79,75,4.61
32,32,Faanui,PF,2022-02-02 23:44:44,-16.4833,-151.7500,81.09,75,24,19.93

In [11]:
preferred_cities_df.count()

City_ID       133
City          133
Country       133
Date          133
Lat           133
Lng           133
Max Temp      133
Humidity      133
Cloudiness    133
Wind Speed    133
dtype: int64

In [12]:
# Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_df[["City", "Country", "Max Temp", "Lat", "Lng"]].copy()
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

              City Country  Max Temp      Lat       Lng Hotel Name
3          Rikitea      PF     78.69 -23.1203 -134.9692
7         Karratha      AU     83.97 -20.7377  116.8463
15     Grand Gaube      MU     81.00 -20.0064   57.6608
18       Kununurra      AU     80.58 -15.7667  128.7333
19  Saint-Philippe      RE     80.19 -21.3585   55.7679
20       Carnarvon      AU     78.87 -24.8667  113.6333
21        Nanakuli      US     80.55  21.3906 -158.1547
28           Kapaa      US     81.12  22.0752 -159.3190
29         Isangel      VU     86.11 -19.5500  169.2667
32          Faanui      PF     81.09 -16.4833 -151.7500

In [13]:
# Set parameters to search for a hotel.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    }

In [14]:
# Iterate through the DataFrame.
for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # Add the latitude and longitude to location key for the params dictionary.
    params["location"] = f"{lat},{lng}"

    # Use the search term: "lodging" and our latitude and longitude.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"
    # Make request and get the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()
        # Grab the first hotel from the results and store the name.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [15]:
hotel_df.head(10)

,City,Country,Max Temp,Lat,Lng,Hotel Name
3,Rikitea,PF,78.69,-23.1203,-134.9692,People ThankYou
7,Karratha,AU,83.97,-20.7377,116.8463,ibis Styles Karratha
15,Grand Gaube,MU,81.00,-20.0064,57.6608,Veranda Paul et Virginie Hotel & Spa
18,Kununurra,AU,80.58,-15.7667,128.7333,Hotel Kununurra
19,Saint-Philippe,RE,80.19,-21.3585,55.7679,"Chambres d'hôte ""La Trinité"""
20,Carnarvon,AU,78.87,-24.8667,113.6333,Hospitality Carnarvon
21,Nanakuli,US,80.55,21.3906,-158.1547,Camp Pālehua
28,Kapaa,US,81.12,22.0752,-159.3190,Sheraton Kauai Coconut Beach Resort
29,Isangel,VU,86.11,-19.5500,169.2667,Tanna Lodge
32,Faanui,PF,81.09,-16.4833,-151.7500,Bora-Bora Pearl Beach Resort & Spa

In [16]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))

In [17]:
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# Store the DataFrame Row.
hotel_info = [info_box_template.format(**row) for index, row in hotel_df.iterrows()]

In [18]:
# Add a heatmap of temperature for the vacation spots and marker for each city.
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,
             dissipating=False, max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# Call the figure to plot the data.
fig

Figure(layout=FigureLayout(height='420px'))